<h1 class="ls-title-intro ls-ico-docs">Show Idea</h1>
<p id="notice"><%= notice %></p>

<div class="ls-box ls-box-gray">
  <h5 class="ls-title-2"><%= @idea.name %>
    <% if @idea.public %>
      <div class="ls-tag-success">
        PROJETO PUBLICO
      </div>
    <% else %>
      <div class="ls-tag-danger">
        PROJETO PRIVADO
      </div>
    <% end %>
  </h5>
</div>

<div class="ls-box">
  <p>
    <%= raw(@idea.description) %>
  </p>
</div>

<div class="ls-box">
  <h3 class="ls-title-5">Material: </h3>
  <p><%= @idea.material %></p>
</div>

<div class="ls-box">
  <h5 class="ls-title-5">Tags: </h5>
  <p><%= @idea.tags %></p>
</div>

<div class="ls-box">
  <h5 class="ls-title-5">Font: </h5>
  <p>
    <%= @idea.font %>
  </p>
</div>



<div class="ls-actions-btn">
  <%= link_to 'Edit', edit_idea_path(@idea), :class=>"ls-btn" %> 
  <%= link_to 'Back', ideas_path, :class=>"ls-btn" %>
</div>
